@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popup {
    0% {
        transform: rotateX(88deg) translateY(20px);
    }

    70% {
        transform: rotateX(-3deg) translateY(0);
    }

    100% {
        transform: rotateX(0deg);
    }
}
